@media print {

    @page {
        size: landscape;
        margin: 5mm;
    }

    
    /* Hide sidebar when printing */
    #sidebar {
        display: none !important;
    }


    body {
        background: white !important;
        color: black !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    #page-content {
        margin-left: 0 !important;
        padding-left: 0 !important;
        transform: scale(0.87);              /* tweak if needed */
        transform-origin: top left;
        width: 111%;
    }

    * {
        box-shadow: none !important;
        border-radius: 0 !important;
    }

    /* Make charts fit page */
    .js-plotly-plot {
        page-break-inside: avoid;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        margin-left: 0 !important;

    }

    ::-webkit-scrollbar {
        display: none;
    }
}